<!--yieldメソッドに渡すページタイトル-->
<% provide(:title, "Edit user") %>
<!--yieldメソッドに渡すページurl-->
<% provide(:url, user_path) %>
<!--yieldメソッドに渡すボタンに表示する文字-->
<% provide(:button_text, 'Save changes') %>
<h1><%= t('.update_your_profile') %></h1>
 
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <!--フォームのパーシャルを呼び出し-->
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" rel="noopener" target="_blank"><%= t('.change_image') %></a>
    </div>
  </div>
</div>