<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- Railsは@usersをUserオブジェクトのリストであると推測
  ユーザーのコレクションを与えて呼び出すとRailsはコレクションを列挙
  それぞれのユーザーを_user.html.erbパーシャルで出力-->
  <%= render @users %>
</ul>

<%= will_paginate %>